<div class="main-wrapper clearfix">
<div layout="row" class="title-row first-row" layout-align="center center" flex>
        <h1>
          Projects
          <span class="md-title" style="padding: 0px 0px 0px 20px;">
            {{mainCtrl.projectsNum}} Projects
          </span>
        </h1>
        <div flex>
        </div>
        <div class="seemore">
          <!-- todo put this into a directive -->
          <button ng-click="mainCtrl.loginAndRedirect('/add/project')" class="md-raised md-primary button"
                  analytics-on analytics-event="add-project-submit" analytics-category="projects">
            Add a project
          </button>
        </div>
      </div>
  <div class="cards-board">
    <card-directive ng-repeat="project in projects | filter:mainSearch" data="project" class="card-on-board"></card-directive>
  </div>
</div>
